@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.background-initial{
    height: 100vh;
    font-family: 'Play', sans-serif;

}
.header-initial{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body-initial{
    background-image: url('../../img/img-background-initial.png');
    height: 80%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;     
}
.carrocel{
    flex-direction: column;
    font-family: 'Play', sans-serif;
    height: 40%;
    width: 40%;
    padding: 20px;
    display: flex;
    text-align: center;
    font-size: 30px;
    font: 700;
    justify-content: space-around;
    border-radius: 30px;      
}

.button-quiz{
    height: 90px;
    width: 300px;
    padding: 20px;
    position: absolute;
    left: 42%;
    bottom: 5%;
    border-radius: 20px;
    border: none;
    font-size: 24px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
}

.button-codeMasters{
    height: 90px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    background-color: #3B3B7F;
    color: white;
    font-size: 24px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
}
.tecnology{
    width: 400px;
}